# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

!data/*/*/
data/*/*
!data/*/list.csv
# data_old/*
# exception_list/*
# initial_data/*
# test_code/*
# test_data_folder/*
data_old/
exception_list/
initial_data/
test_code/
test_data_folder
data_backup/
